:root {
  --primary-color: #ff52bf;
  --cyan-color: #ebfbff;
  --dark-cyan: #00252e;
  --grayish-blue: #808d99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background: var(--cyan-color);
  background-image: url("assets/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  padding: 20px 10px 0 10px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container img {
  height: 20px;
}

.nav-container button {
  color: var(--dark-cyan);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.header-content h1 {
  color: var(--dark-cyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.header-content p {
  color: var(--grayish-blue);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  max-width: 450px;
  margin-top: 15px;
}

.header-content button {
  margin-top: 40px;
  width: 260px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.illustration {
  margin-top: 80px;
  width: 300px;
}

.main-container {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
}

.card-container {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.card-container .card-img {
  width: 300px;
}

.card-container h1 {
  color: var(--dark-cyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card-container p {
  color: var(--grayish-blue);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.footer-container {
  margin-top: 60px;
  padding: 20px 10px 0 10px;
  background-color: var(--dark-cyan);
  color: #fff;
}

.footer-container .footer-logo {
  height: 30px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.footer-container .footer-info {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.footer-container ul {
  margin-top: 30px;
}

.footer-container li {
  margin-bottom: 10px;
}

.footer-links {
  text-decoration: none;
  font-family: "Open-Sans", sans-serif;
  color: #fff;
}

.footer-container .social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-container .social ul {
  margin-bottom: 80px;
}

.footer-container .social li {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 50%;
}

.footer-container .copyright {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 20px;
}
